@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
$main-color : #d3ad7f;
$black : #13131a;
$bg : #010103;
$border : .1rem solid rgba(255,255,255,.3);


*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s linear;
}
html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}
html::-webkit-scrollbar{
	width: .8rem;
}

html::-webkit-scrollbar-track{
	background: transparent;
}

html::-webkit-scrollbar-thumb{
	background: #fff;
	border-radius: 5rem;
}
body{
	background: $bg;
}
section{
	padding: 2rem 7%;
}
#menu-btn{
	display: none;
}
.btn{
	margin-top: 1rem;
	display: inline-block;
	padding: .9rem 3rem;
	font-size: 1.7rem;
	color: #fff;
	background: $main-color;
	cursor: pointer;
	&:hover{
		letter-spacing: .2rem;
	}

}
.heading{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 3.5rem;
	font-size: 4rem;
	& span{
		color: $main-color;
		text-transform: uppercase;
	}
}
.stars{
	padding: 1.5rem;
	& i {
		font-size: 1.7rem;
		color: $main-color;
	}
}
.header{
	background: $bg;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: $border;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	&__logo{
		& img{
			height: 6rem;
		}
	}
	&__nav{
		& a{
			margin: 0 1rem;
			font-size: 1.6rem;
			color: #fff;
			&:hover{
				color :$main-color;
				border-bottom: .1rem solid $main-color ;
				padding-bottom: .5rem;
			}
		}
	}
	


	&__icons div{
		color: #fff;
		cursor : pointer;
		font-size: 2.5rem;
		margin-left: 2rem;
		&:hover{
			color: $main-color;
		}
	}
	
	&__search {
		&.active{
			transform: scaleY(1);	
		}
		position: absolute;
		top: 115%;
		right: 7%;
		background: #fff;
		width: 50rem;
		height: 5rem;
		display: flex;
		align-items: center;
		transform: scaleY(0);
		transform-origin: top;
		& input {
			height: 100%;
			width: 100%;
			font-size: 1.6rem;
			color: $black;
			padding: 1rem;
			text-transform: none;
		}
		& label{
			cursor: pointer;
			font-size: 2.2rem;
			margin-right: 1.5rem;
			color: $black;
			&:hover{
				color: $main-color;

			}
		}

	}
}
.cart{
	position: absolute;
	top: 100%;
	right: -100%;
	height: calc(100vh - 9.5rem);
	width: 35rem;
	background: #fff;
	padding: 0 1.5rem;
	&.active{
		right: 0;
	}
	
	
	&__item{
		position: relative;
		margin: 2rem 0;
		display: flex;
		align-items: center;
		gap:1.5rem;
		& .fa-times{
			position: absolute;
			top: 1rem;
			right: 1rem;
			font-size: 2rem;
			cursor: pointer;
			color: $black;
			&:hover{
				color: $main-color;
			}
		}
		& img{
			height: 7rem;

		}
		
	}
	&__content{
		& h3{
			font-size: 2rem;
			color: $black;
			padding-bottom: 0.5rem;
		}
	}
	&__price{
		font-size: 1.5rem;
		color: $main-color;
	}
	&__btn{
		width: 100%;
		text-align: center;
	}
}
.home{
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../img/home-img.jpeg) no-repeat;
	background-size: cover;
	background-position: center;
	&__content{
		max-width: 60rem;
		& h3{
			font-size: 6rem;
			text-transform: uppercase;
			color: #fff;
		}
		& p {
			font-size: 1rem;
			font-weight: lighter;
			line-height: 1.8;
			padding: 1rem 0;
			color: #eee
		}
	}
}

.about{
	
	&__row{
		display: flex;
		align-items: center;
		background: $black;
		gap: 1rem;
		flex-wrap: wrap;

	}
	&__image{
		flex: 1 1 45rem ;
		& img{
			width: 100%;

		}
		
	}
	&__content{
		flex: 1 1 45rem;
		padding: 2rem;
		& h3{
			font-size: 3rem;
			color: #fff;
		}
		& p {
			font-size: 1.6rem;
			color: #ccc;
			padding: 1rem 0;
			line-height: 1.8;
		}
	}
}
.menu{
	&__comtainer{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap : 1.5rem;
	}
	&__box{
		padding: 5rem;
		text-align: center;
		border: $border;
		&:hover{
			background: #fff;
			&>*{
				color: $black;
			}
		}
		
		& img{
			height: 10rem;
		}
		& h3{
			color: #fff;
			font-size: 2rem;
			padding: 1rem 0;
		}

	}
	&__prise{
		color: #fff;
		padding: .5rem;
		font-size: 2.5rem;
		& span {
			font-size: 1.5rem;
			text-decoration: line-through;
		}
	}
}
.products{
	&__container{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap : 1.5rem;
	}
	&__box{
		text-align: center;
		border: $border;
		padding: 2rem;
	}
	&__icons{
		& a {
			height: 5rem;
			width: 5rem;
			line-height: 5rem;
			font-size: 2rem;
			border: $border;
			color: #fff;
			margin: .3rem;
			&:hover{
				background: $main-color;
			}
		}
	}
	&__img{
		padding: 2.5rem 0;
		& img{
			height: 25rem;
		}
	}
	&__content{
		& h3{
			color: #fff;
			font-size: 2.5rem;
		}
	}
	
	&__price{
		color: #fff;
		font-size: 2.5rem;
		& span{
			text-decoration: line-through;
			font-size: 1.5rem;
			font-weight: lighter;
		}
	}
}
.review{
	&__container{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap : 1.5rem;
	}
	&__box{
		text-align: center;
		border: $border;
		padding: 3rem 2rem;
		& p{
			font-size: 1.5rem;
			line-height: 1.8;
			color: #ccc;
			padding: 2rem 0;

		}
		& h3 {
			padding: 1rem 0;
			font-size: 2rem;
			color: #fff;
		}
	}
	&__user{
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		object-fit: cover;

	}
}
.contact{
	&__row{
		display: flex;
		background: $black;
		flex-wrap: wrap;
		gap : 1rem;
		& form {
			flex: 1 1 45rem;
			padding: 5rem 2rem;
			text-align: center;
			& h3 {
				text-transform: uppercase;
				font-size: 3.5rem;
				text-align: center;
				color: #fff;
			}
		}

	}
	&__map{
		flex: 1 1 45rem;
		width: 100%;

	}
	&__input-box{
		display: flex;
		align-items: center;
		margin: 2rem 0;
		background: $black;
		border : $border;
		& span {
			color: #fff;
			font-size: 2rem;
			padding-left: 2rem;

		}
		& input{
			width: 100%;
			padding: 2rem;
			font-size: 1.7rem;
			color: #fff;
			text-transform: none;
			background: none;
		}
	}
}
.blogs{
	&__container{
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		gap : 1.5rem;
	}
	&__box{
		border: $border;
		
		
	}
	&__image{
		height: 25rem;
		overflow: hidden;
		width: 100%;
		& img{
			height: 100%;
			object-fit: cover;
			width: 100%;
			&:hover{
				transform: scale(1.2);
			}
		}
		
	}
	&__content{
		padding: 2rem;
		& span {
			color: $main-color;
			display: block;
			padding-top: 1rem;
			font-size: 2rem;
		}
		& p {
			font-size: 1.6rem;
			line-height: 1.8;
			color: #ccc;
			padding: 1rem 0;

		}

	}
	&__title{
		font-size: 2.5rem;
		line-height: 1.5;
		color: #fff;
		&:hover{
			color: $main-color;
		}
	}
}
.footer{
	padding: 2rem 7%;
	background: $black;
	text-align: center;
	&__share{
		padding: 1rem 0;
		& a {
			height: 5rem;
			width: 5rem;
			line-height: 5rem;
			font-size: 2rem;
			color: #fff;
			border: $border;
			margin: .3rem;
			border-radius: 50%;
			&:hover{
				background-color: $main-color;
			}
		}

	}
	&__links{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 2rem 0;
		gap: 1rem;
		& a {
			padding: .7rem 2rem;
			color:#fff;
			border: $border;
			font-size: 2rem;
			&:hover{
				background-color: $main-color;

			}
		}

	}
	&__credit{
		font-size: 2rem;
		color: #fff;
		font-weight: lighter;
		padding: 1.5rem;
		& span {
			color: $main-color;
		}
	}
}











@import"media";